.env
.env.production
.venv/
.venv-test/
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
media/
db-data/
data/
*.sqlite3
staticfiles/
build/
dist/
*.m4a
*.mp3
*.wav
*.mp4
.DS_Store
Thumbs.db
